@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.form-control {
  &.ng-valid.ng-touched {
    border-color: $form-feedback-valid-color;
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width
      rgba($form-feedback-valid-color, $input-btn-focus-color-opacity);
  }
  &.ng-invalid.ng-touched {
    border-color: $form-feedback-invalid-color;
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width
      rgba($form-feedback-invalid-color, $input-btn-focus-color-opacity);
  }
}
.invalid-feedback {
  display: block;
}
